.header

.menu
  .menu__current
    %p
      = @name
    .menu__current--icon
      = link_to "groups/new", method: :get do
        %i.fa.fa-edit
      = link_to "users/:id/edit", methosd: :edit do
        %i.fa.fa-cog
  / ここに後で.each使ってループでグループ表示
  = render partial: "messages/group"
.messagebox
  .messagebox__current
    %p.messagebox__current--title
      sample
    .messagebox__current--members
      Member: who am i?
    %button.messagebox__current--edit
      Edit
  = render partial: "messages/message"
.messagebox__typebox
  %input{:type => "text" ,:placeholder => "type a message" ,:class => "messagebox__typebox--mini"}
  %input{:type => "submit" ,:value => "Send",:class =>"messagebox__typebox--send"}
